<h1 class="mb-4">My tasks</h1>
<% @tasks.each do |task| %>
  <div>
    <i class="fa <%= task.completed ? 'fa-check-square-o' : "fa-square-o" %>" aria-hidden="true"></i>
    <%= link_to task.title, task_path(task), class: "text-dark-blue" %>
    •
    <%= link_to task_path(task),method: :delete, data: {confirm: "Delete #{task.title}"}, class: "text-dark-blue" do %>
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>
<hr>
<div class='d-flex align-items-baseline mt-2'>
  <i class="fa fa-plus mr-1 text-dark-blue" aria-hidden="true"></i>
  <%= link_to new_task_path do%>
    <p class="text-dark-blue">Add New Task</p>
  <% end %>
</div>
